<!DOCTYPE html>
<html lang="en-US" ng-app>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VR</title>
  <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Styles -->
  <link rel="stylesheet" href="css/main.css">
  <link rel='stylesheet' href='css/slider.css'>
  <link rel='stylesheet' href='css/video.css'>
</head>

<body>
  <div class="site-logo">
    <img class="logo" src="images/logo_VR.png" alt="VR Logo">
  </div>

  <div class="vr-info-title">
    <textarea class="title" name="title" value="Title" ng-model="title">{{ title }}</textarea>
  </div>

  <div class="vr-info-content">
    <textarea class="content" name="textarea" ng-model="content">{{ content }}</textarea>
  </div>

  <div class="slider slider-height">
    <div class="arrows">
      <a class="previous" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <a class="next" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>

    <div class="slides">
      <div class="slide active white">
        <div class="slide-welcome">
          <img class="logo-welcome" src="images/logo_VR.png" alt="VR Logo">
          <h2>Welcome</h2>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0f3;">
        <img class="slide-content" src="images/slides/edu_chemestry.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <img class="slide-content height-adjust" src="images/slides/edu_geography_02.gif" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content height-adjust" src="images/slides/edu_oinercia.gif" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <img class="slide-content" src="images/slides/edu_geography.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content height-adjust" src="images/slides/edu_physics_02.gif" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content" src="images/slides/edu_biology.gif" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content" src="images/slides/edu_physics.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0f3;">
        <img class="slide-content" src="images/slides/edu_coding.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0f3;">
        <img class="slide-content" src="images/slides/slide01.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content" src="images/slides/slide02.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <img class="slide-content" src="images/slides/slide03.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <img class="slide-content" src="images/slides/slide04.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0f3;">
        <img class="slide-content" src="images/slides/slide05.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content" src="images/slides/slide06.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <img class="slide-content" src="images/slides/slide07.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0f3;">
        <img class="slide-content" src="images/slides/slide08.png" alt="Slides">
      </div>      
      
      <div class="slide white" data-icon="&#xf013;">
        <img class="slide-content" src="images/slides/slide06.png" alt="Slides">
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <video id="bgvid" loop>
          <source src="images/videos/demo_00.mp4" type="video/mp4">
        </video>

        <div class="slide-video" id="slide-video">
          <button>Play</button>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <div class="vrview">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8rUwdtERUOM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <div class="vrview">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rG4jSz_2HDY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <div class="vrview">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZnOTprOTHc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <div class="vrview">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/h8mwhm0PoKc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="slide white" data-icon="&#xf0ac;">
        <div class="vrview">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-FyN5_-njAU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!--
    <div class="slide white" data-icon="&#xf0ac;">
      <div class="video-background">
        <div class="video-foreground">
          <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=1&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    
    <div class="slide white" data-icon="&#xf0ac;">
      <div id="vrview" class="vrview"></div>
    </div>
    -->

    <div class="bullets"></div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/video.js"></script>
  <!-- VR Scripts -->
  <script src="//storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
  <script src="js/vr.js"></script>
  <script src="https://rawgit.com/aframevr/aframe/master/dist/aframe-master.min.js"></script>
</body>

</html>
